<%- partial('_partial/head') %>
<body>
  <div id="main-wrapper">
    <header id="site-header">
      <div id="title-wrapper">
        <a href="<%- url_for()  %>"><h1 id="site-tile"><%- config.title %></h1></a>
        <% if(config.subtitle) { %> <h2 id="site-subtitle"><%- site.subtitle %></h2> <% } %>
      </div>
      <nav id="main-nav">
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
    </header>

    <div id="body-wrapper">
      <%- body %>
    </div>
    <footer id="site-footer">
      <div>
  <a href="/hexo.io">Hexo</a> | <a href="https://www.linode.com/?r=d4c7f3d8ab048130904fefe6d7dd68f80b861223"> Linode</a>
  | <a href="<%- url_for('/licensing.html') %>">授权许可</a>
  <br/>
  (c)2013-<script>document.write(new Date().getFullYear());</script> 鏡 ＠ がんばらないプロジェクト/夜ノ森工房
      </div>
    </footer>
  </div>
</body>
</html>
